.input-group{
	margin-bottom: 15px;
}
.martop45 {
    margin-top: 45px;
}
.adminLogin {
    background: #f5f5f5;
    margin: 0px auto;
    display: block;
    border: 4px solid #ccc;   
    border-radius: 15px;

}
.form-horizontal{
	margin-top:15px;
}
.form-horizontal h5 a{
	text-decoration: none;
}

.profile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 5px;
    float: right;
    margin-top: 18px;
}

.profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

